### Cleaning data gathered from plants.PlantRecommender.get_all_native_plants()

In [123]:
import pandas as pd
import numpy as np
import seaborn as sns
from plants import PlantRecommender
import warnings
warnings.filterwarnings('ignore')

In [158]:
df = pd.read_csv('all_native_plants.csv')

In [36]:
height_cols = df['Plant Height'].str.split(r'^\D*([0-9]+)\D*([0-9]*) *(feet\b|ft\b|inches\b|in\b).*$', expand=True)

In [38]:
height_cols.drop([0,4], axis=1, inplace=True)

In [41]:
height_cols.rename(columns={1:'Min Height', 2:'Max Height', 3:'Units'}, inplace=True)

In [42]:
spread_cols = df['Plant Spread'].str.split(r'^\D*([0-9]+)\D*([0-9]*) *(feet\b|ft\b|inches\b|in\b).*$', expand=True)

In [43]:
spread_cols.drop([0,4], axis=1, inplace=True)

In [44]:
spread_cols.rename(columns={1:'Min Spread', 2:'Max Spread', 3:'Units'}, inplace=True)

In [45]:
spread_cols

     Min Spread Max Spread Units
0           NaN        NaN   NaN
1           NaN        NaN   NaN
2            15         25  feet
3            15         25  feet
4           NaN        NaN   NaN
...         ...        ...   ...
5591        NaN        NaN   NaN
5592        NaN        NaN   NaN
5593        NaN        NaN   NaN
5594        NaN        NaN   NaN
5595        NaN        NaN   NaN

[5596 rows x 3 columns]

In [159]:
df.drop(['Plant Height', 'Plant Spread'], axis=1, inplace=True)
df = pd.concat([df, height_cols, spread_cols], axis=1)

In [100]:
to_drop = ['1"-2"', 'Bees', 'Birds', 'Blue', 'Bog gardening', 'Bumblebees',
       'Butterflies','Cuttings: Stem', 'Deer Resistant', 
       'Flower Time_Late spring or early summer',
       'Flower Time_Late summer or early fall',
       'Flower Time_Late winter or early spring', 'Flower Time_Spring',
       'Flower Time_Summer', 'Flowers_Fragrant', 'Flowers_Inconspicuous',
       'Flowers_Showy', 'Fruit_Edible to birds','Fruit_Showy','Layering', 
        'Leaves_Fragrant','Needs excellent drainage in pots', 'Pink','Purple',
        'Salt tolerant','Suitable in 3 gallon or larger', 'Under 1"', 'Various insects',
        'White','Xeriscapic']

In [160]:
df['Min Height'] = df['Min Height'].astype(float)
df['Max Height'] = np.where(df['Max Height']=='', df['Min Height'], df['Max Height'])
df['Max Height'] = df['Max Height'].astype(float)

In [161]:
df['Min Spread'] = df['Min Spread'].astype(float)
df['Max Spread'] = np.where(df['Max Spread']=='', df['Min Spread'], df['Max Spread'])
df['Max Spread'] = df['Max Spread'].astype(float)

In [124]:
rec = PlantRecommender()

In [125]:
cat = rec.categorical_attributes
cat

['Genus', 'Species', 'Varieties', 'Life cycle']

In [126]:
boolean = rec.boolean_attributes
boolean

['Coarse Soil',
 'Medium Soil',
 'Fine Soil',
 'Herb/Forb',
 'Shrub',
 'Tree',
 'Cactus/Succulent',
 'Grass/Grass-like',
 'Fern',
 'Vine',
 'Full Sun',
 'Full Sun to Partial Shade',
 'Partial or Dappled Shade',
 'Partial Shade to Full Shade',
 'Full Shade',
 'In Water',
 'Wet',
 'Wet Mesic',
 'Mesic',
 'Dry Mesic',
 'Dry',
 'Extremely acid (3.5 – 4.4)',
 'Very strongly acid (4.5 – 5.0)',
 'Strongly acid (5.1 – 5.5)',
 'Moderately acid (5.6 – 6.0)',
 'Slightly acid (6.1 – 6.5)',
 'Neutral (6.6 – 7.3)',
 'Slightly alkaline (7.4 – 7.8)',
 'Moderately alkaline (7.9 – 8.4)',
 'Strongly alkaline (8.5 – 9.0)',
 'Leaves_Good fall color',
 'Leaves_Glaucous',
 'Leaves_Unusual foliage color',
 'Leaves_Evergreen',
 'Leaves_Semi-evergreen',
 'Leaves_Deciduous',
 'Leaves_Fragrant',
 'Leaves_Malodorous',
 'Leaves_Variegated',
 'Leaves_Spring ephemeral',
 'Leaves_Needled',
 'Leaves_Broadleaf',
 'Leaves_Other',
 'Fruit_Showy',
 'Fruit_Edible to birds',
 'Fruit_Dehiscent',
 'Fruit_Indehiscent',
 'Fruit_Pops open explosively when ripe',
 'Fruit_Other',
 'Fruiting Time_Late winter or early spring',
 'Fruiting Time_Spring',
 'Fruiting Time_Late spring or early summer',
 'Fruiting Time_Summer',
 'Fruiting Time_Late summer or early fall',
 'Fruiting Time_Fall',
 'Fruiting Time_Late fall or early winter',
 'Fruiting Time_Winter',
 'Fruiting Time_Year Round',
 'Fruiting Time_Other',
 'Flowers_Showy',
 'Flowers_Inconspicuous',
 'Flowers_Fragrant',
 'Flowers_Malodorous',
 'Flowers_Nocturnal',
 'Flowers_Blooms on old wood',
 'Flowers_Blooms on new wood',
 'Flowers_Other',
 'Brown',
 'Green',
 'Blue',
 'Lavender',
 'Mauve',
 'Orange',
 'Pink',
 'Purple',
 'Red',
 'Russet',
 'White',
 'Yellow',
 'Bi-Color',
 'Multi-Color',
 'Other',
 'Under 1"',
 '1"-2"',
 '2"-3"',
 '3"-4"',
 '4"-5"',
 '5"-6"',
 '6"-12"',
 'Over 12"',
 'Flower Time_Late winter or early spring',
 'Flower Time_Spring',
 'Flower Time_Late spring or early summer',
 'Flower Time_Summer',
 'Flower Time_Late summer or early fall',
 'Flower Time_Fall',
 'Flower Time_Late fall or early winter',
 'Flower Time_Winter',
 'Flower Time_Year Round',
 'Flower Time_Other',
 'Rhizome',
 'Taproot',
 'Corm',
 'Bulb',
 'Tuber',
 'Caudex',
 'Beach Front',
 'Street Tree',
 'Patio/Ornamental/Small Tree',
 'Xeriscapic',
 'Houseplant',
 'Terrariums',
 'Bog gardening',
 'Alpine Gardening',
 'Espalier',
 'Topiary',
 'Windbreak or Hedge',
 'Dye production',
 'Provides winter interest',
 'Erosion control',
 'Guardian plant',
 'Groundcover',
 'Shade Tree',
 'Flowering Tree',
 'Water gardens',
 'Culinary Herb',
 'Medicinal Herb',
 'Vegetable',
 'Salad greens',
 'Cooked greens',
 'Cut Flower',
 'Dried Flower',
 'Will Naturalize',
 'Good as a cover crop',
 'Suitable as Annual',
 'Suitable for forage',
 'Useful for timber production',
 'Suitable for miniature gardens',
 'Bark',
 'Stem',
 'Leaves',
 'Roots',
 'Seeds or Nuts',
 'Sap',
 'Fruit',
 'Flowers',
 'Tea',
 'Culinary Herb/Spice',
 'Raw',
 'Cooked',
 'Fermented',
 'Nitrogen fixer',
 'P (Phosphorus)',
 'K (Potassium)',
 'Ca (Calcium)',
 'Mg (Magnesium)',
 'S (Sulfur)',
 'Fe (Iron)',
 'B (Boron)',
 'Mn (Manganese)',
 'Zn (Zinc)',
 'Cu (Copper)',
 'Mo (Molybdenum)',
 'Si (Silicon)',
 'Co (Cobalt)',
 'Na (Sodium)',
 'I (Iodine)',
 'Bees',
 'Birds',
 'Butterflies',
 'Hummingbirds',
 'Other Beneficial Insects',
 'Powdery Mildew',
 'Birds',
 'Deer Resistant',
 'Gophers/Voles',
 'Rabbit Resistant',
 'Squirrels',
 'Pollution',
 'Fire Resistant',
 'Flood Resistant',
 'Tolerates dry shade',
 'Tolerates foot traffic',
 'Humidity tolerant',
 'Drought tolerant',
 'Salt tolerant',
 'Leaves are poisonous',
 'Roots are poisonous',
 'Fruit is poisonous',
 'Other',
 'Provide light',
 'Self fertile',
 'Provide darkness',
 'Stratify seeds',
 'Scarify seeds',
 'Needs specific temperature',
 'Days to germinate',
 'Depth to plant seed',
 'Suitable for wintersowing',
 'Sow in situ',
 'Start indoors',
 'Can handle transplanting',
 'Seeds are hydrophilic',
 'Will not come true from seed',
 'Other info',
 'Cuttings: Stem',
 'Cuttings: Tip',
 'Cuttings: Cane',
 'Cuttings: Leaf',
 'Cuttings: Root',
 'Layering',
 'Division',
 'Stolons and runners',
 'Offsets',
 'Bulbs',
 'Corms',
 'Crowns',
 'Other',
 'Self',
 'Other',
 'Hoverflies',
 'Wasps',
 'Water',
 'Beetles',
 'Moths and Butterflies',
 'Midges',
 'Flies',
 'Bats',
 'Birds',
 'Bumblebees',
 'Bees',
 'Wind',
 'Various insects',
 'Cleistogamous',
 'Suitable in 1 gallon',
 'Suitable in 3 gallon or larger',
 'Suitable for hanging baskets',
 'Needs repotting every 2 to 3 years',
 'Needs excellent drainage in pots',
 'Preferred depth',
 'Prefers to be under-potted',
 'Not suitable for containers',
 'Tolerates poor soil',
 'With thorns/spines/prickles/teeth',
 'Monoecious',
 'Dioecious',
 "Patent/Plant Breeders' Rights",
 'Genetically Modified',
 'Epiphytic',
 'Monocarpic',
 'Carnivorous',
 'Goes Dormant',
 'Endangered',
 'Texas Superstar®',
 'RHS AGM',
 'AAS (All-America Selection®)',
 'A.H.G.A. Hosta of the Year',
 'Other']

In [127]:
num = rec.numeric_attributes
num

['Minimum cold hardiness',
 'Maximum recommended zone',
 'Plant Height',
 'Plant Spread',
 'Inflorescence Height',
 'Foliage Mound Height']

In [163]:
df[boolean] = df[boolean].fillna('False')
df[['Tree', 'Shrub']][:20]

     Tree  Shrub
0   False    1.0
1    True  False
2    True  False
3    True  False
4   False   True
5    True  False
6    True  False
7    True  False
8   False  False
9   False   True
10   True  False
11  False   True
12  False   True
13  False   True
14   True  False
15  False  False
16   True  False
17   True  False
18  False  False
19  False   True

In [164]:
df[boolean] = df[boolean].replace({'0.0': False, '1.0': True})
df[['Tree', 'Shrub']][:20]

     Tree  Shrub
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True
5    True  False
6    True  False
7    True  False
8   False  False
9   False   True
10   True  False
11  False   True
12  False   True
13  False   True
14   True  False
15  False  False
16   True  False
17   True  False
18  False  False
19  False   True

In [172]:
# thing = df[['Tree', 'Shrub']]
# df[['Tree', 'Shrub']] = thing

In [173]:
df[boolean] = df[boolean].applymap(lambda x: x=='True' or x==True)
df[['Tree', 'Shrub']][:20]

     Tree  Shrub
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True
5    True  False
6    True  False
7    True  False
8   False  False
9   False   True
10   True  False
11  False   True
12  False   True
13  False   True
14   True  False
15  False  False
16   True  False
17   True  False
18  False  False
19  False   True

In [174]:
shrubs = df[(df['Tree']==False) & (df['Shrub']==True)]