### Cleaning data gathered from plants.PlantRecommender.get_all_native_plants()

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('all_native_plants.csv')

/Users/alice/.local/share/virtualenvs/plants-L6j1Vt2q/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (5,9,10,11,28,29,30,36,60,73,85,94,106,113,140,152,161,162,165,171,173,174,186,187,199,202,210,215,233,237,260) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
height_cols = df['Plant Height'].str.split(r'^\D*([0-9]+)\D*([0-9]*) *(feet\b|ft\b|inches\b|in\b).*$', expand=True)

In [38]:
height_cols.drop([0,4], axis=1, inplace=True)

In [41]:
height_cols.rename(columns={1:'Min Height', 2:'Max Height', 3:'Units'}, inplace=True)

In [42]:
spread_cols = df['Plant Spread'].str.split(r'^\D*([0-9]+)\D*([0-9]*) *(feet\b|ft\b|inches\b|in\b).*$', expand=True)

In [43]:
spread_cols.drop([0,4], axis=1, inplace=True)

In [44]:
spread_cols.rename(columns={1:'Min Spread', 2:'Max Spread', 3:'Units'}, inplace=True)

In [45]:
spread_cols

     Min Spread Max Spread Units
0           NaN        NaN   NaN
1           NaN        NaN   NaN
2            15         25  feet
3            15         25  feet
4           NaN        NaN   NaN
...         ...        ...   ...
5591        NaN        NaN   NaN
5592        NaN        NaN   NaN
5593        NaN        NaN   NaN
5594        NaN        NaN   NaN
5595        NaN        NaN   NaN

[5596 rows x 3 columns]