To what extent do university rankings on US news correlate with other data about these insitutuions?

In [1]:
import pandas as pd

In [2]:
rankings = pd.read_csv('us_news_university_rankings.csv', encoding='ISO-8859-1')
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe4 in position 476: invalid continuation byte
# solution: use ISO-8859-1 instead of utf-8
scorecard = pd.read_csv('college_scorecard.csv')
# using CollegeScorecardDataDictionary.xlsx' to understand info on scorecard

In [3]:
scorecard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Columns: 122 entries, UNITID to C150_4_POOLED_SUPP
dtypes: float64(103), int64(7), object(12)
memory usage: 7.2+ MB

In [4]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  231 non-null    object
 1   Location              231 non-null    object
 2   Rank                  231 non-null    int64
 3   Description           231 non-null    object
 4   Tuition and fees      231 non-null    object
 5   In-state              133 non-null    object
 6   Undergrad Enrollment  231 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.8+ KB

In [5]:
# looking at name formats
scorecard['INSTNM'].head()

0               Alabama A & M University
1    University of Alabama at Birmingham
2                     Amridge University
3    University of Alabama in Huntsville
4               Alabama State University
Name: INSTNM, dtype: object

In [6]:
rankings['Name'].head()

0     Princeton University
1       Harvard University
2    University of Chicago
3          Yale University
4      Columbia University
Name: Name, dtype: object

In [7]:
top_231 = scorecard[scorecard['INSTNM'].isin(rankings['Name'])]

In [8]:
top_231.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 9 to 4260
Columns: 122 entries, UNITID to C150_4_POOLED_SUPP
dtypes: float64(103), int64(7), object(12)
memory usage: 135.5+ KB

In [9]:
# that's not all of them
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]

In [10]:
hmm

4                           Columbia University
18           Washington University in St. Louis
21           University of California--Berkeley
24        University of California--Los Angeles
25                       University of Virginia
                         ...
222                 New Mexico State University
225         University of Massachusetts--Boston
226      University of Massachusetts--Dartmouth
227           University of Missouri--St. Louis
228    University of North Carolina--Greensboro
Name: Name, Length: 90, dtype: object

In [11]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Columbia University')]

2408    Columbia University in the City of New York
2626        Teachers College at Columbia University
Name: INSTNM, dtype: object

In [12]:
scorecard['INSTNM'].replace('Columbia University in the City of New York', 'Columbia University', inplace=True)

In [13]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Washington University')]

702          George Washington University
708         Trinity Washington University
2116    Washington University in St Louis
3989        Central Washington University
3998        Eastern Washington University
4050        Western Washington University
Name: INSTNM, dtype: object

In [14]:
scorecard['INSTNM'].replace({'St ': 'St. '}, inplace=True, regex=True)

In [15]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of California')]

225     University of California-Hastings College of Law
243                    University of California-Berkeley
244                       University of California-Davis
245                      University of California-Irvine
246                 University of California-Los Angeles
247                   University of California-Riverside
248                   University of California-San Diego
249               University of California-San Francisco
250               University of California-Santa Barbara
251                  University of California-Santa Cruz
307                   Dominican University of California
5631                     University of California-Merced
Name: INSTNM, dtype: object

In [16]:
scorecard['INSTNM'].replace({'-': '--', ' - ': '--'}, inplace=True, regex=True)

In [17]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

25                                University of Virginia
29             University of North Carolina--Chapel Hill
31                             College of William & Mary
34                       Georgia Institute of Technology
41                                     Tulane University
46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
85                           Binghamton University--SUNY
92              North Carolina State University--Raleigh
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
103                                University of Alabama
105                              University of Tennessee
107                          University of New Hampshire
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
140                             University of Cincinnati
146                                      Ohio University
148                              St. John Fisher College
149                           University at Albany--SUNY
150                          University of Texas--Dallas
153                            Oklahoma State University
155                      University of Illinois--Chicago
159                    University of Alabama--Birmingham
162                          University of South Florida
164                    Maryville University of St. Louis
165          Missouri University of Science & Technology
166                                St. John's University
169                          University of Hawaii--Manoa
181                             University of New Mexico
186                                   Widener University
187                                Kent State University
188                        North Dakota State University
189                                      Pace University
193                       Bowling Green State University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
206              University of North Carolina--Charlotte
218                                University of Montana
221                              Gardner-Webb University
222                          New Mexico State University
228             University of North Carolina--Greensboro
Name: Name, dtype: object

In [18]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('North Carolina')]

2737              North Carolina A & T State University
2738          University of North Carolina at Asheville
2739        University of North Carolina at Chapel Hill
2740          University of North Carolina at Charlotte
2741         University of North Carolina at Greensboro
2742                  North Carolina Central University
2743    University of North Carolina School of the Arts
2744         North Carolina State University at Raleigh
2745                    North Carolina Wesleyan College
2746            University of North Carolina Wilmington
2749           University of North Carolina at Pembroke
6090                 Strayer University--North Carolina
7117                   DeVry University--North Carolina
7240              University of Phoenix--North Carolina
Name: INSTNM, dtype: object

In [20]:
scorecard['INSTNM'].replace({' at ': '--'}, inplace=True, regex=True)

In [28]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Virginia')]

3963    The University of Virginia's College--Wise
3968           University of Virginia--Main Campus
Name: INSTNM, dtype: object

In [29]:
scorecard['INSTNM'].replace({'--Main Campus': ''}, inplace=True, regex=True)

In [36]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

31                             College of William & Mary
41                                     Tulane University
46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
85                           Binghamton University--SUNY
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
103                                University of Alabama
105                              University of Tennessee
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
148                              St. John Fisher College
149                           University at Albany--SUNY
150                          University of Texas--Dallas
164                    Maryville University of St. Louis
165          Missouri University of Science & Technology
166                                St. John's University
187                                Kent State University
189                                      Pace University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
218                                University of Montana
221                              Gardner-Webb University
Name: Name, dtype: object

In [38]:
rankings['Name'][rankings['Name'].str.contains(' and ')]

100    SUNY College of Environmental Science and Fore...
Name: Name, dtype: object

In [39]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('SUNY College of Environmental Science')]

2603    SUNY College of Environmental Science and Fore...
Name: INSTNM, dtype: object

In [41]:
scorecard['INSTNM'].replace({'and': '&'}, inplace=True, regex=True)
scorecard['INSTNM'].iloc[2603] = rankings['Name'].iloc[100]

/Users/alice/.local/share/virtualenvs/education-YQATvGOP/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [42]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

17                                 Vanderbilt University
33                                   Brandeis University
41                                     Tulane University
46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
63                  University of Maryland--College Park
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
85                           Binghamton University--SUNY
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
103                                University of Alabama
105                              University of Tennessee
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
148                              St. John Fisher College
149                           University at Albany--SUNY
150                          University of Texas--Dallas
160             University of Maryland--Baltimore County
161                           University of Rhode Island
164                    Maryville University of St. Louis
166                                St. John's University
187                                Kent State University
189                                      Pace University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
213                                   Ashland University
218                                University of Montana
221                              Gardner-Webb University
223                                Shenandoah University
Name: Name, dtype: object

In [49]:
# scorecard doesn't have Vanderbilt U
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Tulane')]

1529    Tulane University of Louisiana
Name: INSTNM, dtype: object

In [50]:
scorecard['INSTNM'].replace({'Tulane University of Louisiana': 'Tulane University'}, inplace=True, regex=True)

In [51]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Illinois')]

1048              University of Illinois--Chicago
1051    University of Illinois--Urbana--Champaign
1137          University of Illinois--Springfield
Name: INSTNM, dtype: object

In [52]:
scorecard['INSTNM'].replace({'University of Illinois--Urbana--Champaign': 'University of Illinois--Urbana-Champaign'}, inplace=True, regex=True)

In [55]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Pennsylvania State University')]

3211         Pennsylvania State University--Dickinson Law
3312    Pennsylvania State University--Penn State Erie...
3313    Pennsylvania State University--Penn State Grea...
3314    Pennsylvania State University--College of Medi...
3315    Pennsylvania State University--Penn State New ...
3316    Pennsylvania State University--Penn State Shen...
3317    Pennsylvania State University--Penn State Wilk...
3318    Pennsylvania State University--Penn State Wort...
3319    Pennsylvania State University--Penn State Lehi...
3320    Pennsylvania State University--Penn State Altoona
3321     Pennsylvania State University--Penn State Beaver
3322      Pennsylvania State University--Penn State Berks
3323    Pennsylvania State University--Penn State Harr...
3324    Pennsylvania State University--Penn State Br&y...
3325     Pennsylvania State University--Penn State DuBois
3326    Pennsylvania State University--Penn State Faye...
3327    Pennsylvania State University--Penn State Hazl...
3328                        Pennsylvania State University
3329    Pennsylvania State University--Penn State Grea...
3330    Pennsylvania State University--Penn State Mont...
3331    Pennsylvania State University--Penn State Abin...
3332    Pennsylvania State University--Penn State Schu...
3333       Pennsylvania State University--Penn State York
6947          Pennsylvania State University--World Campus
Name: INSTNM, dtype: object

In [56]:
scorecard['INSTNM'].iloc[3328] = 'Pennsylvania State University--University Park'

In [57]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Ohio State University')]

2956    Ohio State University Agricultural Technical I...
2957                   Ohio State University--Lima Campus
2958              Ohio State University--Mansfield Campus
2959                 Ohio State University--Marion Campus
2960                 Ohio State University--Newark Campus
2965                                Ohio State University
Name: INSTNM, dtype: object

In [60]:
# a lot of the missing names seem to be due to rankings including the name of the 
# main campus of a university with multiple campuses while scorecard leaves it plain
hmm[hmm.str.contains('--')]

46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
63                  University of Maryland--College Park
75                 Texas A&M University--College Station
85                           Binghamton University--SUNY
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
135              Louisiana State University--Baton Rouge
149                           University at Albany--SUNY
150                          University of Texas--Dallas
160             University of Maryland--Baltimore County
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
Name: Name, dtype: object