In [1]:
import pandas as pd

In [2]:
rankings = pd.read_csv('us_news_university_rankings.csv', encoding='ISO-8859-1')
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe4 in position 476: invalid continuation byte
# solution: use ISO-8859-1 instead of utf-8
scorecard = pd.read_csv('college_scorecard.csv')
# using CollegeScorecardDataDictionary.xlsx' to understand info on scorecard

In [3]:
scorecard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Columns: 122 entries, UNITID to C150_4_POOLED_SUPP
dtypes: float64(103), int64(7), object(12)
memory usage: 7.2+ MB

In [4]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  231 non-null    object
 1   Location              231 non-null    object
 2   Rank                  231 non-null    int64
 3   Description           231 non-null    object
 4   Tuition and fees      231 non-null    object
 5   In-state              133 non-null    object
 6   Undergrad Enrollment  231 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.8+ KB

In [5]:
# looking at name formats
scorecard['INSTNM'].head()

0               Alabama A & M University
1    University of Alabama at Birmingham
2                     Amridge University
3    University of Alabama in Huntsville
4               Alabama State University
Name: INSTNM, dtype: object

In [6]:
rankings['Name'].head()

0     Princeton University
1       Harvard University
2    University of Chicago
3          Yale University
4      Columbia University
Name: Name, dtype: object

In [7]:
top_231 = scorecard[scorecard['INSTNM'].isin(rankings['Name'])]

In [8]:
top_231.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 9 to 4260
Columns: 122 entries, UNITID to C150_4_POOLED_SUPP
dtypes: float64(103), int64(7), object(12)
memory usage: 135.5+ KB

In [9]:
# that's not all of them
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]

In [10]:
hmm

4                           Columbia University
18           Washington University in St. Louis
21           University of California--Berkeley
24        University of California--Los Angeles
25                       University of Virginia
                         ...
222                 New Mexico State University
225         University of Massachusetts--Boston
226      University of Massachusetts--Dartmouth
227           University of Missouri--St. Louis
228    University of North Carolina--Greensboro
Name: Name, Length: 90, dtype: object

When names don't match, I will replace the scorecard name with the rankings name, even if they are inconsistent

In [11]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Columbia University')]

2408    Columbia University in the City of New York
2626        Teachers College at Columbia University
Name: INSTNM, dtype: object

In [12]:
scorecard['INSTNM'].replace('Columbia University in the City of New York', 'Columbia University', inplace=True)

In [13]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Washington University')]

702          George Washington University
708         Trinity Washington University
2116    Washington University in St Louis
3989        Central Washington University
3998        Eastern Washington University
4050        Western Washington University
Name: INSTNM, dtype: object

In [14]:
scorecard['INSTNM'].replace({'St ': 'St. '}, inplace=True, regex=True)

In [15]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of California')]

225     University of California-Hastings College of Law
243                    University of California-Berkeley
244                       University of California-Davis
245                      University of California-Irvine
246                 University of California-Los Angeles
247                   University of California-Riverside
248                   University of California-San Diego
249               University of California-San Francisco
250               University of California-Santa Barbara
251                  University of California-Santa Cruz
307                   Dominican University of California
5631                     University of California-Merced
Name: INSTNM, dtype: object

In [16]:
scorecard['INSTNM'].replace({'-': '--', ' - ': '--'}, inplace=True, regex=True)

In [17]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

25                                University of Virginia
29             University of North Carolina--Chapel Hill
31                             College of William & Mary
34                       Georgia Institute of Technology
41                                     Tulane University
46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
85                           Binghamton University--SUNY
92              North Carolina State University--Raleigh
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
103                                University of Alabama
105                              University of Tennessee
107                          University of New Hampshire
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
140                             University of Cincinnati
146                                      Ohio University
148                              St. John Fisher College
149                           University at Albany--SUNY
150                          University of Texas--Dallas
153                            Oklahoma State University
155                      University of Illinois--Chicago
159                    University of Alabama--Birmingham
162                          University of South Florida
164                    Maryville University of St. Louis
165          Missouri University of Science & Technology
166                                St. John's University
169                          University of Hawaii--Manoa
181                             University of New Mexico
186                                   Widener University
187                                Kent State University
188                        North Dakota State University
189                                      Pace University
193                       Bowling Green State University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
206              University of North Carolina--Charlotte
218                                University of Montana
221                              Gardner-Webb University
222                          New Mexico State University
228             University of North Carolina--Greensboro
Name: Name, dtype: object

In [18]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('North Carolina')]

2737              North Carolina A & T State University
2738          University of North Carolina at Asheville
2739        University of North Carolina at Chapel Hill
2740          University of North Carolina at Charlotte
2741         University of North Carolina at Greensboro
2742                  North Carolina Central University
2743    University of North Carolina School of the Arts
2744         North Carolina State University at Raleigh
2745                    North Carolina Wesleyan College
2746            University of North Carolina Wilmington
2749           University of North Carolina at Pembroke
6090                 Strayer University--North Carolina
7117                   DeVry University--North Carolina
7240              University of Phoenix--North Carolina
Name: INSTNM, dtype: object

In [19]:
scorecard['INSTNM'].replace({' at ': '--'}, inplace=True, regex=True)

In [20]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Virginia')]

3963    The University of Virginia's College--Wise
3968           University of Virginia--Main Campus
Name: INSTNM, dtype: object

In [21]:
scorecard['INSTNM'].replace({'--Main Campus': ''}, inplace=True, regex=True)

In [22]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

31                             College of William & Mary
41                                     Tulane University
46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
85                           Binghamton University--SUNY
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
103                                University of Alabama
105                              University of Tennessee
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
148                              St. John Fisher College
149                           University at Albany--SUNY
150                          University of Texas--Dallas
164                    Maryville University of St. Louis
165          Missouri University of Science & Technology
166                                St. John's University
187                                Kent State University
189                                      Pace University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
218                                University of Montana
221                              Gardner-Webb University
Name: Name, dtype: object

In [23]:
rankings['Name'][rankings['Name'].str.contains(' and ')]

100    SUNY College of Environmental Science and Fore...
Name: Name, dtype: object

In [24]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('SUNY College of Environmental Science')]

2603    SUNY College of Environmental Science and Fore...
Name: INSTNM, dtype: object

In [25]:
scorecard['INSTNM'].replace({' and ': ' & '}, inplace=True, regex=True)
scorecard['INSTNM'].iloc[2603] = rankings['Name'].iloc[100]

/Users/alice/.local/share/virtualenvs/education-YQATvGOP/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [26]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

41                                     Tulane University
46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
54                              University of Washington
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
85                           Binghamton University--SUNY
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
103                                University of Alabama
105                              University of Tennessee
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
148                              St. John Fisher College
149                           University at Albany--SUNY
150                          University of Texas--Dallas
164                    Maryville University of St. Louis
166                                St. John's University
187                                Kent State University
189                                      Pace University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
218                                University of Montana
221                              Gardner-Webb University
Name: Name, dtype: object

In [27]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Tulane')]

1529    Tulane University of Louisiana
Name: INSTNM, dtype: object

In [28]:
scorecard['INSTNM'].replace({'Tulane University of Louisiana': 'Tulane University'}, inplace=True, regex=True)

In [29]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Illinois')]

1048              University of Illinois--Chicago
1051    University of Illinois--Urbana--Champaign
1137          University of Illinois--Springfield
Name: INSTNM, dtype: object

In [30]:
scorecard['INSTNM'].replace({'University of Illinois--Urbana--Champaign': 'University of Illinois--Urbana-Champaign'}, inplace=True, regex=True)

In [31]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Pennsylvania State University')]

3211         Pennsylvania State University--Dickinson Law
3312    Pennsylvania State University--Penn State Erie...
3313    Pennsylvania State University--Penn State Grea...
3314    Pennsylvania State University--College of Medi...
3315    Pennsylvania State University--Penn State New ...
3316    Pennsylvania State University--Penn State Shen...
3317    Pennsylvania State University--Penn State Wilk...
3318    Pennsylvania State University--Penn State Wort...
3319    Pennsylvania State University--Penn State Lehi...
3320    Pennsylvania State University--Penn State Altoona
3321     Pennsylvania State University--Penn State Beaver
3322      Pennsylvania State University--Penn State Berks
3323    Pennsylvania State University--Penn State Harr...
3324    Pennsylvania State University--Penn State Bran...
3325     Pennsylvania State University--Penn State DuBois
3326    Pennsylvania State University--Penn State Faye...
3327    Pennsylvania State University--Penn State Hazl...
3328                        Pennsylvania State University
3329    Pennsylvania State University--Penn State Grea...
3330    Pennsylvania State University--Penn State Mont...
3331    Pennsylvania State University--Penn State Abin...
3332    Pennsylvania State University--Penn State Schu...
3333       Pennsylvania State University--Penn State York
6947          Pennsylvania State University--World Campus
Name: INSTNM, dtype: object

In [32]:
scorecard['INSTNM'].iloc[3328] = 'Pennsylvania State University--University Park'

In [33]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Ohio State University')]

2956    Ohio State University Agricultural Technical I...
2957                   Ohio State University--Lima Campus
2958              Ohio State University--Mansfield Campus
2959                 Ohio State University--Marion Campus
2960                 Ohio State University--Newark Campus
2965                                Ohio State University
Name: INSTNM, dtype: object

In [34]:
# a lot of the missing names seem to be due to rankings including the name of the 
# main campus of a university with multiple campuses while scorecard leaves it plain
hmm[hmm.str.contains('--')]

46              University of Illinois--Urbana-Champaign
52        Pennsylvania State University--University Park
53                       Ohio State University--Columbus
58                           University of Texas--Austin
60                     Purdue University--West Lafayette
75                 Texas A&M University--College Station
85                           Binghamton University--SUNY
93                       University of Colorado--Boulder
97                          Stony Brook University--SUNY
101                          University at Buffalo--SUNY
135              Louisiana State University--Baton Rouge
149                           University at Albany--SUNY
150                          University of Texas--Dallas
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
199                       University of Colorado--Denver
205                      University of Alaska--Fairbanks
Name: Name, dtype: object

In [35]:
scorecard['INSTNM'].replace({'Ohio State University':'Ohio State University--Columbus', 
                            'University of Texas':'University of Texas--Austin',
                            'Purdue University':'Purdue University--West Lafayette',
                            'University of Maryland':'University of Maryland--College Park',
                            'Texas A&M University':'Texas A&M University--College Station',
                            'Louisiana State University':'Louisiana State University--Baton Rouge',
                            'University of Texas':'University of Texas--Dallas',
                            'University of Alabama':'University of Alabama--Huntsville',
                            'University of Alaska':'University of Alaska--Fairbanks'}, inplace=True)

In [36]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Colorado')]

572    University of Colorado Denver/Anschutz Medical...
573              University of Colorado Colorado Springs
575                       University of Colorado Boulder
Name: INSTNM, dtype: object

In [37]:
# I think row 572 is uc denver and just labeled weirdly?
# doesn't make sense hwy it wouldn't be in there
scorecard['INSTNM'].iloc[572] = 'University of Colorado--Denver'
scorecard['INSTNM'].iloc[575] = 'University of Colorado--Boulder'

In [38]:
# the SUNYs are messed up
hmm[hmm.str.contains('SUNY')]

85      Binghamton University--SUNY
97     Stony Brook University--SUNY
101     University at Buffalo--SUNY
149      University at Albany--SUNY
Name: Name, dtype: object

In [39]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Binghamton')]

2561    Ridley--Lowell Business & Technical Institute-...
2600                                     SUNY--Binghamton
Name: INSTNM, dtype: object

In [40]:
scorecard['INSTNM'].iloc[2600] = rankings['Name'].iloc[85]

In [41]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Stony Brook')]

2602    Stony Brook University
Name: INSTNM, dtype: object

In [42]:
scorecard['INSTNM'].iloc[2602] = rankings['Name'].iloc[97]

In [43]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Buffalo')]

2389               Bryant & Stratton College--Buffalo
2412    Continental School of Beauty Culture--Buffalo
2601                              University--Buffalo
2606                               SUNY Buffalo State
4577     National Tractor Trailer School Inc--Buffalo
7256                    Empire Beauty School--Buffalo
Name: INSTNM, dtype: object

In [44]:
scorecard['INSTNM'].iloc[2606] = rankings['Name'].iloc[101]

In [45]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Albany')]

865                          Albany Technical College
867                           Albany State University
2355                Bryant & Stratton College--Albany
2356     Albany College of Pharmacy & Health Sciences
2357                                Albany Law School
2358                           Albany Medical College
2498                          Maria College of Albany
2512              Mildred Elley School--Albany Campus
2599                                     SUNY--Albany
4967    Albany BOCES--Adult Practical Nursing Program
5224                  ITT Technical Institute--Albany
5859    Branford Hall Career Institute--Albany Campus
Name: INSTNM, dtype: object

In [46]:
scorecard['INSTNM'].iloc[2599] = rankings['Name'].iloc[149]

In [47]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

54                              University of Washington
58                           University of Texas--Austin
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
103                                University of Alabama
105                              University of Tennessee
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
148                              St. John Fisher College
150                          University of Texas--Dallas
164                    Maryville University of St. Louis
166                                St. John's University
187                                Kent State University
189                                      Pace University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
205                      University of Alaska--Fairbanks
218                                University of Montana
221                              Gardner-Webb University
Name: Name, dtype: object

In [48]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Texas')]

3754            The University of Texas Rio Grande Valley
3755                 The University of Texas--Brownsville
3792      University of Texas Southwestern Medical Center
3793    The University of Texas Health Science Center-...
3794               The University of Texas Medical Branch
3799                   The University of Texas--Arlington
3800                      The University of Texas--Austin
3801                      The University of Texas--Dallas
3802                     The University of Texas--El Paso
3803                       The University of Texas--Tyler
3809         The University of Texas of the Permian Basin
3810                 The University of Texas--San Antonio
3818    The University of Texas Health Science Center-...
4922    The University of Texas MD Anderson Cancer Center
Name: INSTNM, dtype: object

In [49]:
rankings['Name'][rankings['Name'].str.contains('The')]

123    The Catholic University of America
Name: Name, dtype: object

In [50]:
scorecard['INSTNM'].replace({'The University': 'University'}, inplace=True, regex=True)

In [51]:
# how many does that fix?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

54                              University of Washington
68                              University of Pittsburgh
75                 Texas A&M University--College Station
77                                         Virginia Tech
105                              University of Tennessee
109                         University of South Carolina
112                               University of Missouri
114                               University of Oklahoma
123                   The Catholic University of America
130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
148                              St. John Fisher College
164                    Maryville University of St. Louis
166                                St. John's University
187                                Kent State University
189                                      Pace University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
205                      University of Alaska--Fairbanks
221                              Gardner-Webb University
Name: Name, dtype: object

In [64]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Washington')]

4047    University of Washington--Seattle Campus
4627    University of Washington--Bothell Campus
4628     University of Washington--Tacoma Campus
Name: INSTNM, dtype: object

In [76]:
# and some of the rankings universities don't include the main campus
# where scorecard does
scorecard['INSTNM'].iloc[4047] = rankings['Name'].iloc[54]

In [77]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Pittsburgh')]

3350                   University of Pittsburgh--Bradford
3351                 University of Pittsburgh--Greensburg
3352                  University of Pittsburgh--Johnstown
3353                             University of Pittsburgh
3354                 University of Pittsburgh--Titusville
3380    University of Pittsburgh Medical Center--Shady...
Name: INSTNM, dtype: object

In [52]:
scorecard['INSTNM'].iloc[3353] = rankings['Name'].iloc[68]

In [56]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('A & M')]

0                           Alabama A & M University
1524             Southern University & A & M College
3670          Texas A & M University--Corpus Christi
3681               Texas A & M University--Texarkana
3682                Texas A & M University--Commerce
3721            Texas A & M International University
3759                   Prairie View A & M University
3797              Texas A & M University--Kingsville
3798         Texas A & M University--College Station
3831                     West Texas A & M University
7525    Texas A & M University Health Science Center
Name: INSTNM, dtype: object

In [57]:
scorecard['INSTNM'].replace({'A & M': 'A&M'}, inplace=True, regex=True)

In [60]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Virginia Poly')]

3965    Virginia Polytechnic Institute & State University
Name: INSTNM, dtype: object

In [61]:
scorecard['INSTNM'].iloc[3965] = rankings['Name'].iloc[77]

In [64]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Tennessee')]

3621    University of Tennessee--Chattanooga
3622      University of Tennessee--Knoxville
3623         University of Tennessee--Martin
Name: INSTNM, dtype: object

In [65]:
scorecard['INSTNM'].iloc[3622] = rankings['Name'].iloc[105]

In [66]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of South Carolina')]

3476          Medical University of South Carolina
3484           University of South Carolina--Aiken
3485        University of South Carolina--Beaufort
3486        University of South Carolina--Columbia
3487       University of South Carolina--Lancaster
3488    University of South Carolina--Salkehatchie
3489          University of South Carolina--Sumter
3490           University of South Carolina--Union
3493         University of South Carolina--Upstate
Name: INSTNM, dtype: object

In [67]:
scorecard['INSTNM'].iloc[3486] = rankings['Name'].iloc[109]

In [69]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Missouri')]

2074       University of Missouri--Columbia
2075    University of Missouri--Kansas City
2077      University of Missouri--St. Louis
Name: INSTNM, dtype: object

In [70]:
scorecard['INSTNM'].iloc[2074] = rankings['Name'].iloc[112]

In [71]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Oklahoma')]

3060    University of Oklahoma--Health Sciences Center
3067             University of Oklahoma--Norman Campus
Name: INSTNM, dtype: object

In [72]:
scorecard['INSTNM'].iloc[3067] = rankings['Name'].iloc[114]

In [73]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Catholic')]

698                        Catholic University of America
1006                  Catholic Theological Union--Chicago
2208                           Northeast Catholic College
4197    Pontifical Catholic University of Puerto Rico-...
4198    Pontifical Catholic University of Puerto Rico-...
4255    Pontifical Catholic University of Puerto Rico-...
5561    Byzantine Catholic Seminary of Saints Cyril & ...
6699              John Paul the Great Catholic University
Name: INSTNM, dtype: object

In [74]:
scorecard['INSTNM'].iloc[698] = rankings['Name'].iloc[123]

In [78]:
# just to see it easier
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

130                            Colorado State University
131                                           New School
135              Louisiana State University--Baton Rouge
148                              St. John Fisher College
164                    Maryville University of St. Louis
166                                St. John's University
187                                Kent State University
189                                      Pace University
196    Indiana University-Purdue University--Indianap...
198                    University of Alabama--Huntsville
205                      University of Alaska--Fairbanks
221                              Gardner-Webb University
Name: Name, dtype: object

In [79]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Colorado State')]

584      Colorado State University--Fort Collins
622            Colorado State University--Pueblo
6913    Colorado State University--Global Campus
Name: INSTNM, dtype: object

In [80]:
scorecard['INSTNM'].iloc[584] = rankings['Name'].iloc[130]

In [81]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('New School')]

2526                      The New School
2527    New School of Radio & Television
Name: INSTNM, dtype: object

In [82]:
scorecard['INSTNM'].iloc[2526] = rankings['Name'].iloc[131]

In [83]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Louisiana State')]

1490    Louisiana State University Health Sciences Cen...
1491               Louisiana State University--Alexandria
1492    Louisiana State University & Agricultural & Me...
1493                   Louisiana State University--Eunice
1494               Louisiana State University--Shreveport
5237    Louisiana State University Health Sciences Cen...
Name: INSTNM, dtype: object

In [90]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Louisiana State') & scorecard['CITY'].str.contains('Baton Rouge')]

1492    Louisiana State University--Baton Rouge
Name: INSTNM, dtype: object

In [87]:
scorecard['INSTNM'].iloc[1492] = rankings['Name'].iloc[135]

In [93]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('John Fisher')]

2586    Saint John Fisher College
Name: INSTNM, dtype: object

In [94]:
scorecard['INSTNM'].replace({'Saint': 'St.'}, inplace=True, regex=True)

In [96]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Kent State')]

2904         Kent State University--Ashtabula
2905    Kent State University--East Liverpool
2906             Kent State University--Stark
2907          Kent State University--Trumbull
2908        Kent State University--Tuscarawas
2909             Kent State University--Salem
2910              Kent State University--Kent
2911            Kent State University--Geauga
Name: INSTNM, dtype: object

In [97]:
scorecard['INSTNM'].iloc[2910] = rankings['Name'].iloc[187]

In [98]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Pace University')]

2547    Pace University--New York
Name: INSTNM, dtype: object

In [99]:
scorecard['INSTNM'].iloc[2547] = rankings['Name'].iloc[189]

In [102]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Indiana University')]

1192    Indiana University--Purdue University--Fort Wayne
1193    Indiana University--Purdue University--Indiana...
1199                           Indiana University--Kokomo
1200                       Indiana University--South Bend
1201                      Indiana University--Bloomington
1202                        Indiana University--Northwest
1203                        Indiana University--Southeast
1204                             Indiana University--East
3255                   Indiana University of Pennsylvania
Name: INSTNM, dtype: object

In [103]:
scorecard['INSTNM'].iloc[1193] = rankings['Name'].iloc[196]

In [104]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Alabama')]

1      University of Alabama--Birmingham
3    University of Alabama in Huntsville
5                  University of Alabama
Name: INSTNM, dtype: object

In [105]:
scorecard['INSTNM'].iloc[3] = rankings['Name'].iloc[198]

In [106]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('University of Alaska')]

60    University of Alaska Anchorage
62    University of Alaska Fairbanks
63    University of Alaska Southeast
Name: INSTNM, dtype: object

In [107]:
scorecard['INSTNM'].iloc[62] = rankings['Name'].iloc[205]

In [108]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('Gardner--Webb')]

2701    Gardner--Webb University
Name: INSTNM, dtype: object

In [109]:
scorecard['INSTNM'].iloc[2701] = rankings['Name'].iloc[221]

In [110]:
# did i get them all?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

96     Saint Louis University
166     St. John's University
Name: Name, dtype: object

In [114]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('St. Louis University')]

2095    St. Louis University
Name: INSTNM, dtype: object

In [115]:
scorecard['INSTNM'].iloc[2095] = rankings['Name'].iloc[96]

In [117]:
scorecard['INSTNM'][scorecard['INSTNM'].str.contains('St. John\'s University')]

2589    St. John's University--New York
Name: INSTNM, dtype: object

In [118]:
scorecard['INSTNM'].iloc[2589] = rankings['Name'].iloc[166]

In [119]:
# this time?
hmm = rankings['Name'][~rankings['Name'].isin(scorecard['INSTNM'])]
hmm

Series([], Name: Name, dtype: object)

In [120]:
# yaaaay
scorecard.to_csv('scorecard.csv')